body {
  color: white;
}

.container {
  width: 700px;
  height: 1000px;
  display: grid;
  gap: 10px 20px;
  border: 1px solid black;
  grid-template: 500px 300px / 300px 200px 100px;
  /* place-items: center start; */
  justify-content: space-between;
  align-content: center;
}

.container > * {
  padding: 1rem;
  border-radius: 10px;
}

header {
  background-color: green;
}

article {
  background-color: black;
}

aside {
  background-color: red;
}

footer {
  background-color: rgb(90, 5, 236);
}
