body {
  color: white;
}

.container {
  max-width: 700px;
  height: 1000px;
  display: grid;
  gap: 10px 20px;
  border: 1px solid black;
  grid-template: 500px 300px / 300px 200px 100px;
  justify-items: start;
  align-items: center;

  /* place-items: center start; */
  /* justify-content: space-around;
  align-content: space-around; */
}

.container > * {
  padding: 1rem;
  border-radius: 10px;
}

header {
  background-color: green;
}

article {
  background-color: black;
}

aside {
  background-color: red;
  align-self: end;
}

footer {
  background-color: rgb(90, 5, 236);
}
